<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% include 'common/head.html' %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% comment %} <h3>develop viet nam</h3>
        <h4>cam on moi nguoi da xem video cua minh.</h4>
        <h4> hy vong moi nguoi tiep tuc ung ho minh, chao than ai va quyet thang </h4> {% endcomment %}
        
        <h3 class="text-center">ten phong ban</h3>
        <table class="table table-bordered mt60">
            <tr class="bg-darkgray text-bold td">
                <td>Id</td>
                <td>ten phong ban</td>
                <td>chuc nang</td>
            </tr>
            <tbody>
                {% for description in department_list%}
                    <tr>
                        <td>{{description.department_id}}</td>
                        <td>{{description.name}}</td>
                        <td><a href="/description/{{description.department_id}}">Chi tiet</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <script src="" async defer></script>
    </body>
</html>